Django==4.2.9
Flask==2.3.2
langchain==0.0.353
langchain-community==0.0.7
langchain-core==0.1.4
langsmith==0.0.75
llama-index==0.9.41
openai==1.6.1
python-dotenv==1.0.0
requests==2.31.0
Werkzeug==3.0.1